.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

.profile img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	border: 1px solid #ccc;
}

.profile h1 {
	font-size: 36px;
	margin-top: 15px;
	text-align: center;
}

.bio input[type="email"],
.bio textarea {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	box-sizing: border-box;
}

.bio input[type="email"]:focus,
.bio textarea:focus {
	outline: none;
	border-color: #4CAF50;
}

.bio textarea {
	resize: vertical;
}

.bio form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bio label {
	font-size: 18px;
	margin-bottom: 5px;
}

.bio input[type="submit"] {
	background-color: rgb(116,66,37);/* #4CAF50; */
	color: white;
	font-size: 24px;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
    margin: 5px;
	cursor: pointer;
}
.bio button {
	background-color: rgb(116,66,37);/* #4CAF50; */
	color: white;
	font-size: 24px;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
    margin: 5px;
	cursor: pointer;
}

.buttonlike {
	background-color: rgb(116,66,37);/* #4CAF50; */
	color: white;
	font-size: 24px;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
    margin: 5px;
	cursor: pointer;
	text-decoration: none;
}

.bio input[type="submit"]:hover {
	background-color: #3e8e41;
}

body {
    font-family: 'Gill Sans Light', sans-serif;
    font-size: 1.3em;
}

.formlike {
    width: 80%;
    margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.empty-area {
    height: 100px;
}

.contact-info {
    background-color: #f8f8f8;
    text-align: center;
    height: 100px;
    padding: 20px;
    font-size: .6em;
    display: flex;
    align-items: center;
  }

  .contact-info p {
    margin: auto;
  }

  .contact-info a {
    color: black;
    text-decoration: none;
  }

  .aviso {
    font-size: .8em;
    margin: 0%;
  }


  
